
node_modules
.DS_Store
.next
.idea
.mvn
.maven
/dockerfiles/cmp-center-java/service/target
*.iml
target
bscpm-packages/packages/*/lib

node_modules
npm-debug.log
.DS_Store
storybook-static

dist
!packages/storybook-4/storybook-ui/dist/

caches
.logs/*
npm-debug.log
node_modules/
.idea/
coverage

packages/bscpm/tests/examples

/lib/configs/stories.js

# some local files
*/.settings/
*/.DS_Store
.DS_Store
*/.idea/
.idea/
gradlew
gradlew.bat
unused.txt

# Log Files
*.log

# Lines that start with '#' are comments.
# IntelliJ IDEA Project files
.idea
*.iml
*.ipr
*.iws

*.bak
*.tem
*.temp
#.swp
*.*~
~*.*

.log/*